/* 위에 남는 부분이 없어야하기 때문에 이렇게 들어감. */
body{
    margin: 0;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 폰트를 여러개 적용하고 싶어서 이렇게 했는데 왜 안되는지 모르겠다......진짜 열받네 */
@font-face {
    font-family: 'PyeongChangPeace-light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 태그 자체를 이용해서 모든 글자에 모양을 없애고 내가 만들기 위해서 이렇게 지정 */
a{
    text-decoration: none;
    color:white;
}

.Navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}
.navbar__logo>img{
   position: relative;
   height: 60px;
   width: 60px;
}

.navbar__logo>a{
    font-size: 35px;
    position: absolute;
    padding: 8px;
    font-family:'PyeongChangPeace-Bold';
}
.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;

}
.navbar__menu li{
    font-family:'PyeongChangPeace-light';
    font-weight: 300;
    font-size: 24px;
    padding: 8px 20px;
}
.navbar__login{
    font-size: 20px;
    font-family: 'DungGeunMo';
    
}


/* login이 완료된 상태에서는 이런 이미지가 뜰 수 있도록 
.navbar__login > i{
    color :white;
    display:flex;
}
*/


/* 배경 이미지 삽입 + 그 위에 행성 이미지를 넣기 */

/* 메뉴바 height 70, width 꽉 차도록 */

/* 로고의 크기 및 위치(제일 위쪽의 맨 왼쪽 구석
60*60px */

/* 배너의 높이 100px, 너비는 사이트 크기에 딱 맞도록 */